<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<style>
  h1{
    font-size:xx-large;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    color: rgb(230, 144, 15);
  }
  a{
    font-size: medium;
    font-weight: lighter;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  b{
    font-size:larger;
    font-weight: bolder;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif:fantasy;
    color: blue;
  }
  #head{
    font-size: large;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  #tbb{
    position:relative;
    width: auto;
    text-align: center;
  }
  #p{
    width: 60%;
  }
  #name{
    width: 80%;
  }
  #ft{

    width: 90%;
  }
  span{
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #rcorners1 {
    position:relative;
    border-radius: 25px;
    background: #35edf3;
    padding: 20px;
    width: 50%;
    height: auto;

  }
  #rcorners2 {
    position:relative;
    border-radius: 25px;
    background: #8859d4;
    padding: 20px;
    width: 50%;
    height: auto;

  }
  button{
    font-size: medium;
    font-weight: bolder;
    border-radius: 25px;
    background: #07e75d;
    padding: 20px 32px;
    width: 10%;
    height: auto;
    margin: 10px;
    text-align: center;
  }



</style>
<h1 >flight book</h1>
<body>
  <form [formGroup]="orderForm" id="rcorners1" >
    <a>Fullname</a><br>
    <input id="name" formControlName="name"><span style="color:rgb(255, 0, 0)" *ngIf="orderForm.get('name')?.errors?.['required']">full name is required</span><br>
    <table  id="ft" width="auto">
      <thead>
        <tr><td><a>From</a></td><td> TO</td></tr>
      </thead>
      <tbody>
        <tr><td>
        <select  id="ft" (change)="setfrom()" formControlName="from">
          <option>bangkok</option>
          <option>london</option>
          <option>russia</option>
          <option>germany</option>
          <option>canada</option>
          <option>japan</option>
          <option>china</option>
          <option>ukane</option>
        </select><br>
        </td>
        <td>
        <select  id="ft" (change)="setto()" formControlName="to">
          <option>bangkok</option>
          <option>london</option>
          <option>russia</option>
          <option>germany</option>
          <option>canada</option>
          <option>japan</option>
          <option>china</option>
          <option>ukane</option>
        </select><br>
        </td></tr>
      </tbody>
    </table>
    <span style="color:rgb(255, 0, 0)" *ngIf="orderForm.get('from')?.errors?.['required']">start destination is required </span>
    <span style="color:rgb(255, 0, 0)" *ngIf="orderForm.get('to')?.errors?.['required']">final  destination is required </span>
    <span style="color:rgb(255, 0, 0)" *ngIf="this.formfrom ==  this.formto && this.formfrom != 'null' && this.formto != 'null'">start destination cant be same place as final destination</span>
    <table  width="auto">
      <thead>
        <td><a>trip type</a></td><td><a>Departure</a></td><td><a>arrival</a></td>
      </thead>
      <tbody>
        <td>
          <input type="radio" value="one way" class="type" formControlName="type"> one way
          <input type="radio" value="return" class="type" formControlName="type">  return
        </td>
        <td><input  readonly="readonly" [min]="today" (dateInput)="setmindate()" matInput [matDatepicker]="picker1" formControlName="departure"/>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </td>
        <td>
          <input readonly="readonly" [min]="mindate" matInput [matDatepicker]="picker2" formControlName="arrival"/>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </td>
      </tbody>
    </table>
    <span style="color:rgb(255, 0, 0)" *ngIf="orderForm.get('form')?.errors?.['type']">flight type is required</span>

    <table  id="p">
      <thead>
        <tr><td><a>Adult</a></td><td>children</td><td>infants</td></tr>
      </thead>
      <tbody>
        <tr>
          <td><input id="p" type="number" min="0" max="5"   formControlName="adult" ></td>
          <td><input id="p" type="number" min="0" max="5"   formControlName="children"></td>
          <td><input id="p" type="number" min="0" max="5"   formControlName="infants"></td>
        </tr>
      </tbody>
    </table>
    <span style="color:rgb(255, 0, 0)" *ngIf="orderForm.get('adult')?.errors?.['required']">how many adult passenger ?</span><br>
    <span style="color:rgb(255, 0, 0)" *ngIf="orderForm.get('children')?.errors?.['required']">is there children on broad ?</span><br>
    <span style="color:rgb(255, 0, 0)" *ngIf="orderForm.get('infants')?.errors?.['required']">how many infants passenger ?</span><br>

  </form>

  <button (click)="sendorder()" [disabled]="orderForm.invalid" >submit</button><br>
  <b>List of order</b><br>
  <table id="rcorners2"  wide="auto">
    <thead>
      <tr>
        <th id="head">fullName</th><th id="head">from</th><th id="head">to</th><th id="head">departure</th><th id="head">arrival</th><th id="head" >adults</th><th id="head">children</th><th id="head">infants</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of order">
        <td>{{f.fullName }}</td>
        <td>{{f.from }}</td>
        <td>{{f.to }}</td>
        <td>{{f.departure.toLocaleDateString("th-TH")}}</td>
        <td>{{f.arrival.toLocaleDateString("th-TH") }}</td>
        <td>{{f.adults }}</td>
        <td>{{f.children }}</td>
        <td>{{f.infants }}</td>
      </tr>
    </tbody>
  </table>
</body>
